<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css?family=Aclonica" rel="stylesheet">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" style="font-size:30px; color:white; font-family: 'Aclonica', ciursive; " href="{% url 'welcome' %}">jirani.ke</a>
    </div>
  </div>
</nav>
</body>
</html>
